div{
    height: 200px;
    width: 200px;
    position: relative;
}
.child-one{
    background-color: aquamarine;
    z-index: 1;
}
.child-two{

    background-color: rgb(127, 255, 187);
    margin-top: -100px;
    margin-left: 80px;
    z-index: 2;
}

.child-third{
    background-color: black;
    margin-top: -140px;
    margin-left: 120px;
    z-index: 3;
}